@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.container {
    display:flex;
    flex-direction:column;
    width: 100%;
}

* {
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: 0.3s;
    font-family: 'Montserrat', sans-serif;
}

.logo {
    position: absolute;
    left:20%;
    font-size: 3vh;
    color: white;
    cursor:pointer;
}

.navbar {
    line-height: 50px;
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 10;
    text-align: center !important;
    backdrop-filter: blur(0px);
    color: white;
}

.whiteTheme {
    background: rgba(255, 255, 255, 0.9);
    color:black !important;
    border-bottom: solid 0.5px#b2bec3;
}

.navbar .links {
    position: absolute;
    width: auto;
    height: 100%;
    right: 20%;
    font-size: 1.5vh;
}

.navbar .links a {
    position: relative;
    padding: 10px;
    opacity: 0.7;
    color: white;
}

.navbar .links a:hover {
    opacity: 1;
}

.blackTheme {
    color:black !important;
}

.mininfo {
    width: 100% ;
    height: 500px;
    backdrop-filter: blur(3px);
    top:0 ;
    left:0 ;
    background: rgba(255, 255, 255, 0.1) ;
    color: white;
    overflow: hidden;
}

.mininfo .infopage {
    position: absolute;
    width: 1000px;
    height: 50px;
    top:50%;
    left:50%;
    margin-top: -25px;
    margin-left: -500px;
    text-align: center;
}

.aboutinfo,
.minlanginfo {
    background-size: 100% 100% !important;
}

.fullscreen {
    position: absolute;
    backdrop-filter: blur(3px);
    top:0;
    left:0;
    background: rgba(255, 255, 255, 0.1);
    width: 100%;
    height: 500px;
}

.aboutinfo {
    position: absolute;
    width: 100%;
    height: 500px;
    /*background: url("https://i.pinimg.com/originals/0c/ac/5e/0cac5ed32498bfe3e707b8492e0db3e0.jpg") !important;*/
    background: url('https://wallpapershome.ru/images/pages/pic_h/12589.jpg') !important;
}

.minlanginfo {
    right: -100%;
    position: absolute;
    width: 100%;
    height: 500px;
    /*background: url("https://wallpapershome.ru/images/pages/pic_h/20329.jpg");*/
    background: url("https://images.wallpaperscraft.ru/image/gory_oblaka_trava_nebo_119300_3840x2160.jpg");
}

.mininfo .infopage h1 {
    position: relative;
    padding: 10px;
}

.mininfo .infopage p {
    font-size: 2vh;
}

.buttons {
    position: absolute;
    bottom:5%;
    width: 400px;
    height: 40px;
    left:50%;
    margin-left: -200px;
    text-align: center;
    color: white;
}

.buttons button {
    position: relative;
    width:auto;
    height: 40px;
    background: rgba(0, 0, 0, 0.1);
    border:none;
    border-radius: 20px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    outline: none;
    text-align: center;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}

.activeMin {
    background: white !important;
    color:black !important;
}

.content {
    /*position: relative;*/
    width: 60%;
    height: auto;
    padding: 25px;
    margin-left: 50%;
    transform: translate(-50%);
}

.plusinfo {
    position: relative;
    top:50px;
    width: 100%;
}

.listlang {
    font-size: 3vh;
    margin: 10px;
    text-align: center;
}

.listlang a {
    color:#0652DD;
}
.plusinfo .plustitle {
    font-size: 5vh;
    text-align: center;
    margin: 10px;
}

.plusinfo .plustext {
    text-align: center;
    font-size: 3vh;
    margin: 10px;
}

.portf {
    position: relative;
    top:150px;
    width: 100%;
}

.portf .allworktitle {
    margin: 10px;
    font-size: 5vh;
    text-align: center;
}
.portf .lengthwork {
    text-align: center;
    font-size: 3vh;
    margin: 10px;
}

.portf .notwork {
    color:lightgray;
    text-align: center;
    font-size: 3vh;
    margin: 10px;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
}

.allworks {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

.workmain {
    border-radius: 10px;
    position: relative;
    width: 350px;
    height: 350px;
    margin: 20px;
    border:solid 1px #d2dae2;
    overflow: hidden;
    box-shadow: #e3e3e3 0 0 50px;
}

.imgwork {
    width: 100%;
}

.workfullinfo {
    padding: 20px;
}

.titlework {
    font-size: 4vh;
}

.linkto {
    position: absolute;
    bottom:5%;
    padding: 5px;
    padding-left: 25%;
    padding-right: 25%;
    border-radius: 10px;
    background: #4680C2;
    border-bottom: 3px solid #396ba5;
    color:white;
    text-align: center;
    left: 50%;
    transform: translate(-50%);
}

.linkto:active {
    bottom:calc(5%+3px);
    border-bottom: none;
}

.contacts {
    position: relative;
    height: auto;
}

.titlecontacts {
    margin: 10px;
    margin-top: 200px;
    font-size: 5vh;
    text-align: center;
}

.allcontacts {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact {
    position: relative;
    margin:20px;
    width: 300px;
    height: 325px;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    box-shadow: #e3e3e3 0 0 50px;
}

.titlecontact {
    margin:20px;
}

.infocontact {
    color:gray;
}

.conto {
    position: absolute;
    padding: 60px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #4680C2;
    border-bottom: 3px solid #396ba5;
    border-radius: 10px;
    color:white;
    left: 50%;
    transform: translate(-50%);
    bottom: 5%;
}

.conto:active {
    bottom:calc(5%+3px);
    border-bottom: none;
}

